body{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 600;
}
p{
    color: dimgray;
    padding-right: 30px;
    text-align: justify;
}

/* header section start */
    .header-section{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        height: 550px;
        padding-bottom: 50px;
    }
    .half-width{
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 4%;
    }
    .deeppink-highlight{
        color: #fa0667;
    }
    .header-left{
        padding-top: 50px;
    }
    .fency-button{
        padding: 10px 25px;
        border-radius: 5px;
        background-image: linear-gradient(90deg,#e0d2d2, #fa0667);
        font-weight: 700;
        font-size: 14px;
        cursor: pointer;
    }
    .fency-button:hover{
        background-image: linear-gradient(90deg, #fa0667, #e0d2d2);
    }
    .half-width button a{
        text-decoration: none;
        color: #fff;
    }
    /* .header-left{
        padding-top: 50px;
    } */
    .half-width img{
        width: 90%;
    }
/* header section end */

/* Dream Section Start */
    .dream-section{
        background-color: rgb(238, 238, 238);
        height: 500px;
        padding-bottom: 20px;
    }
    .dream-img{
        padding-top: 40px;
    }
    h2{
        font-size: 35px;
        font-weight: 600;
    }
    .dream-right{
        padding-top: 80px;
    }
/* Dream Section End */

/* Experiences Section Start */

.experiences-section{
    height: 500px;
    padding: 50px 0;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-section .exp{
    text-align: center;
    padding-bottom: 30px;
}
.experiences-section .half-width{
box-shadow: 10px 10px 40px gray;
height: 300px;
background-color: #fff;
}

#full-stack-dev{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, pink, deeppink);
    border-image-slice: 1;
}
.experiences-section .full-stack:hover {
    background-image: linear-gradient(pink, deeppink);
}

#baby-dev{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, cyan, blue);
    border-image-slice: 1;
}
.experiences-section .baby:hover{
    background-image: linear-gradient(cyan, blue);
}
/* Experiences Section End */

/* Footer Section Start */
    footer p{
        font-size: 14px;
        text-align: center;
    }
    .footer-span {
        text-decoration: none;
        color: deeppink;
    }
    .footer-span:hover{
        color: orange;
    }
/* Footer Section End */